<%= form_with(model: @task, local: true) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <div>
    <%= f.label :タイトル %><br>
    <%= f.text_field :title, autofocus: true %>
  </div>
  <div>
    <%= f.label :内容 %><br>
    <%= f.text_area :content %>
  </div>
  <div>
    <%= f.label :状況 %><br>
    <div class="status-in">
    <%= f.radio_button :status, :"未対応" %>
    <%= f.label :status, "未対応", value: :"未対応" %>
    <%= f.radio_button :status, :"対応中" %>
    <%= f.label :status, "対応中", value: :"対応中" %>
    </div>
  </div>
  <div class="deadline-select">
    <%= f.label :期限 %><br>
    <%= f.datetime_select :start_time, class: 'form-control' %>
  </div>
  <div class="project-select">
    <%= f.label  "ワークスペース" %><%= link_to "（ワークスペース追加はこちら）", new_category_path, target: :_blank, rel: "noopener noreferrer" %><br>
    <%= f.collection_select :category_id, Category.all, :id, :name, {include_blank: "選択してください"} %>
  </div>
  <div class="task-form-actions">
    <%= f.submit "登録する" %>
    <%= link_to '一覧へ戻る', tasks_path %>
  </div>
<% end %>