<div class="container">  
  <div id="task_show">
    <h2 class="page_title">タスク詳細</h2> 
    <%= render "task_show", task: @task %>
  
    <div id="task-action-show">
      <div class="task-action">
        <%= link_to '一覧へ戻る', tasks_path, class: 'task-show-action1' %>
        <% if @task.user == current_user %>
          <%= link_to '編集', edit_task_path(@task) %>
          <%= button_to "削除", @task, data: { confirm: "削除して大丈夫ですか?" }, method: :delete %>
          <%= link_to 'アサイン', assign_task_path(@task) %>
          <% unless @task.status == '完了'  %>
            <%= button_to '完了', done_path(@task.id), method: :post %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>


