<div id="task-list-content">
  <table>
    <thead>
      <tr>
        <th>タイトル</th>
        <th>担当者</th>
        <th>期限</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr class="<%= "finish" if task.status == '完了'  %> <%= Time.current >= task.start_time ? 'expired-tr' : 'required-tr' %>">
          <td class="td-other"><%= link_to task.title.truncate(32), task %></td>
          <td style="width: 7%;"><%= task.user.name %></td>
          <% if task.status == '完了' %>
            <td style="width: 6%;"><%= task.start_time.strftime('%Y年%m月%d日') %><span>完了</span></td>
          <% else %>
            <td style="width: 6%;">
              <%= task.start_time.strftime('%Y年%m月%d日') %>
              <% if Time.current >= task.start_time %>
                <span>期限切</span>
              <% else %>
                <span>期限内</span>
              <% end %>
            </td>
          <% end %>
          <td style="width: 6%;"><%= task.status %></td>
          <% if task.user == current_user %>
            <td class="sp"><%= link_to '編集', edit_task_path(task), id: 'user-show-action1' %></td>
          <% end %>
          <td class="sp"><%= link_to '詳細', task, id: 'user-show-action2' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>