<div class="workspace">
  <div class="workspace-in">
    <div class="workspace-left">
      <div>
        <h2 class="category_name"><%= @category.name %><span>のタスク(<%= @all_task %>件)</span></h2>
      </div>
      <div class="workspace-form">
        <%= form_for(@task, data: { remote: true }, class: 'js-form') do |f| %>
          <%= render 'layouts/error_messages', model: f.object %>
          <div class="workspace-title">
            <%= f.label :タイトル %><span>(必須)</span><br>
            <%= f.text_field :title, autofocus: true %>
          </div>
          <div class="workspace-content">
            <%= f.label :内容 %><br>
            <%= f.text_area :content %>
          </div>
          <div class="workspace-status">
            <%= f.label :状況 %><span>(必須)</span><br>
            <div class="status-in">
              <%= f.radio_button :status, :"未対応" %>
              <%= f.label :status, "未対応", value: :"未対応" %>
              <%= f.radio_button :status, :"対応中" %>
              <%= f.label :status, "対応中", value: :"対応中" %>
            </div>
          </div>
          <div class="workspace-deadline">
            <%= f.label :期限 %><span>(必須)</span><br>
            <%= f.date_field :start_time, class: 'form-control' %>
          </div>
          <div class="pppp">
            <%= f.label  "ワークスペース" %><%= link_to "（ワークスペース追加はこちら）", new_category_path, target: :_blank, rel: "noopener noreferrer" %><br>
            <%= f.collection_select :category_id, Category.all, :id, :name, { selected: @category.id } %>
          </div>
          <div class="task-form-actions">
            <%= f.submit "登録する" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="workspace-right">
      <div id="workspace-task">
        <div class="workspace-sort">
          <%= link_to '新しい順', categories_path(category_id: @category.id, latest: "true") %>
          <%= link_to '古い順', categories_path(category_id: @category.id, old: "true") %>
        </div>
        <ul class="explanation">
          <li class="explanation1">ー完了</li>
          <li class="explanation2">ー期限内</li>
          <li class="explanation3">ー期限切</li>
          <li class="explanation4">ー新規タスク</li>
        </ul>
        <div id="workspace-task-in">
          <div id="workspace-newtask"></div>
          <%= render 'tasks/filter_by_category', tasks: @tasks %>
        </div>
        <%= paginate @tasks %>
      </div>
    </div>
  </div>
</div>
