<div class="container">  
  <div class="category-form">
    <h2 class="page_title">新規ワークスペースト</h2>
    <%= form_with model: @category, local: true do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div>
        <%= f.label :name, "ワークスペース名"  %><br>
        <%= f.text_field :name %>
      </div>
      <div class="category-form-action">
        <%= f.submit "登録する"%>
      </div>
    <% end %>
  </div>
</div>
