<% if controller.controller_name == 'tasks' or controller.controller_name == 'categories' %>
<div id="header-2">
  <div class="dropdown">
    <button class="dropdown_btn" id="dropdown__btn">ワークスペースを選択</button>
    <div class="dropdown_body">
      <ul class="dropdown_list">
        <% @categories.first(10).each do |category| %>
          <li class="dropdown_item"><%= link_to category.name, categories_path(category_id: category.id) %></li>
        <% end %>
        <li class="dropdown_item_other">
          <%= link_to "ワークスペース一覧", categories_list_path %>
          <%= link_to 'ワークスペース追加', new_category_path %>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <ul class="menu">
      <li>
        <% if user_signed_in? %>
          <p><%= current_user.name %><span>さん</span></p>
        <% end %>
          <ul class="menu_content">
            <li><%= link_to 'ユーザー設定', edit_user_registration_path, class: "nav-link" %></li>
            <li><%= link_to 'ログアウト', users_sign_out_path, data: { confirm: "ログアウトしますか?" }, method: :delete, class: "nav-link" %></li> 
          </ul>
      </li>
    </ul>
	</div>
</div>
<% end %>
  

	
